<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->


<html>
  <head>
    <title>Ejemplo de TypeScript</title>
  </head>
  
  <body>
    <h1>Ejemplo usando TypeScript</h1>
  </body>
  
  <ion-input  [(ngModel)]="VariableCualquiera" placeholder="Ingrese1:" color="primary"></ion-input >

  <ion-input [(ngModel)]="Dibanhi" placeholder="Ingrese2:" color="danger"></ion-input>

  <ion-input [(ngModel)]="Cosa1" placeholder="Ingrese3:" color="primary"></ion-input>

  <ion-input [(ngModel)]="Cosa2" placeholder="Ingrese4:" color="danger"></ion-input>

  <ion-input [(ngModel)]="Cosa3" placeholder="Ingrese5:" color="primary"></ion-input>



  <ion-button (click)="uwu()">Guardar</ion-button>
</html>

<!--
(click)="uwu()"
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Ejemplo con TypeScript</title>
    </head>
    <body>
        <h1>Ejemplo usando TypeScript</h1>
        <section id="container">
        </section>

        <form>
            <input type="text" id="nombre" placeholder="Nombre" />
            <input type="button" value="Guardar" onclick="guardar()" />            
        </form>

        <h4>Listado de Nombres:</h4>
        <ul id="listado"></ul>

        <script type="text/javascript" src="programa.js"></script>
    </body>
</html>

  -->


<!--
  <ion-button (click)="pruebaFunciones()">Alertaa OwO</ion-button>
  TEST2
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size='4' *ngFor='let meme of Memes' >
          <ion-card>
          <ion-img [src]='meme.image' (click)='imagenDesc(meme.nombre)'></ion-img>
          <ion-label>{{meme.nombre}}</ion-label>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
-->
